.input{
    display: flex;
    resize: none;
    margin: auto;
    margin-top: 5rem;
    padding: .5rem;
    max-width: 500px;
    border: orangered;
    height: 2rem;
    -webkit-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75)
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 0px solid #000000;

}


.output{     
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    resize: none;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    max-width: full;
    border: orangered;
    height: auto;
    -webkit-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75)
    border-radius: 27px 27px 27px 27px;
    -moz-border-radius: 27px 27px 27px 27px;
    -webkit-border-radius: 27px 27px 27px 27px;
    border: 0px solid #000000;
    
    text-emphasis: bold;
    align-self: center;

    
    
}
.item{
    max-width:500px; 
    margin: .5rem;
    -webkit-border-radius: 25px ;
}

.placeholder{
    text-align: center;
}
